.content-learn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 5rem 0rem 1rem 0rem;
}

// .learn-container {
//   margin-top: -25rem;
// }


.quote-header {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 2rem;
    margin-top: 1rem;
  }

.topic-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 88.54vw;
  margin-top: -1rem;
}

.learn-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 0.5vw;

  &:hover {
    background-color: #0056b3;
  }
}
