.content-learn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.learn-container {
  margin-top: -25rem;
}


.quote-header {
    text-align: center;
    margin-bottom: 20px;
  }

.topic-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 85vw;
  margin-top: -1rem;
}


