// ForgotPasswordPage.module.scss

// ForgotPasswordContainer
.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  // ForgotPasswordForm
  .forgot-password-form {
    max-width: 25rem;
    width: 100%;
    padding: 2.5rem;
    background-color: #fff;
    color: #333;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  // ForgotPasswordInputContainer
  .forgot-password-input-container {
    position: relative;
    width: 100%;
    right: 0.04125rem;
  }
  
  // ForgotPasswordInput
  .forgot-password-input {
    width: 100%;
    padding: 0.625rem;
    margin-bottom: 1.25rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
    background-color: #f9f9f9;
    color: #333;
    outline: none;
    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  
    &:focus {
      border-color: #35baf6;
      background-color: #f0f0f0;
    }
  }
  
  // ForgotPasswordButton
  .forgot-password-button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #35baf6;
    color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  
    &:hover {
      background-color: #2196f3;
      transform: scale(1.05);
    }
  }
  
  // BackToLoginLink
  .back-to-login-link {
    margin-top: 1.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #35baf6;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: color 0.2s ease-in-out;
  
    &:hover {
      color: #2196f3;
    }
  }
  